{% extends "layouts/sidebar.html" %}

{% block head %}
<link href="/static/vendors/datepicker/css/datepicker.css" rel="stylesheet" />
{% endblock %}

{% block title %}{% if steel %}编辑{% else %}创建{% endif %}钢铁信息{% endblock %}
{% block subtitle %}{% if steel %}编辑{% else %}创建{% endif %}钢铁信息{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<ul class="breadcrumb">
				<li>
					<a href="/steel/">钢铁信息列表</a><span class="divider">/</span>
				</li>
				<li class="active">
					{% if steel %}编辑{% else %}创建{% endif %}钢铁信息
				</li>
			</ul>
			<div class="widget">
				<div class="widget-title">
                    <h3>{% if steel %}编辑{% else %}创建{% endif %}钢铁信息</h3>
				</div>
				<div class="widget-body">
					<form id="edit_form" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <legend>基本信息</legend>
                        <div class="control-group">
                            <label class="control-label" for="id_name" >钢铁信息名称:</label>
							<div class="controls">
                                {{ form.name }}(名称必须唯一)
                            </div>
							{% if form.name.errors %}
							<div class="alert alert-error" style="margin:10px 180px;width:170px;">
								{% for error in form.name.errors %}
								<div>{{ error|escape }}</div>
								{% endfor %}
							</div>
							{% endif %}
                        </div>						
                        <div class="control-group">
                            <label class="control-label" for="id_type" >类型:</label>
							<div class="controls">
                                {{ form.type }}
                            </div>
                            {% if form.type.errors %}
							<div class="alert alert-error" style="margin:10px 180px;width:170px;">
								{% for error in form.type.errors %}
								<div>{{ error|escape }}</div>
								{% endfor %}
							</div>
							{% endif %}
						</div>
						<div class="control-group">
                            <label class="control-label" for="id_mobile" >规格:</label>
							<div class="controls">
                                {{ form.high_str }}
                            </div>
                            {% if form.high_str.errors %}
							<div class="alert alert-error" style="margin:10px 180px;width:170px;">
								{% for error in form.high_str.errors %}
								<div>{{ error|escape }}</div>
								{% endfor %}
							</div>
							{% endif %}

						</div>
						<div class="control-group">
                            <label class="control-label" for="id_len_str" >长度(米):</label>
							<div class="controls">
                                {{ form.len_str }}
                            </div>
                            {% if form.len_str.errors %}
							<div class="alert alert-error" style="margin:10px 180px;width:170px;">
								{% for error in form.len_str.errors %}
								<div>{{ error|escape }}</div>
								{% endfor %}
							</div>
							{% endif %}
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="id_wid_str" >宽度(米):</label>
							<div class="controls">
                                {{ form.wid_str }}
                            </div>
                            {% if form.wid_str.errors %}
							<div class="alert alert-error" style="margin:10px 180px;width:170px;">
								{% for error in form.wid_str.errors %}
								<div>{{ error|escape }}</div>
								{% endfor %}
							</div>
							{% endif %}
						</div>
						<div class="control-group">
                            <label class="control-label" for="id_status" >状态:</label>
							<div class="controls">
                                {{ form.status }}
                            </div>
                            {% if form.status.errors %}
							<div class="alert alert-error" style="margin:10px 180px;width:170px;">
								{% for error in form.status.errors %}
								<div>{{ error|escape }}</div>
								{% endfor %}
							</div>
							{% endif %}
						{% if steel %}
						<div class="control-group">
							<label class="control-label" for="id_date">创建时间:</label>
							<div class="controls">
								<p style="margin-top: 8px">{{ steel.create_time|date:'Y-m-d H:i:s' }}</p>
							</div>
						</div>
                        {% endif %}
                    	<div class="form-actions">
							<button id="submit_btn" type="submit" class="btn btn-primary">
								保存
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block foot %}
<script src="/static/vendors/datepicker/js/bootstrap-datepicker.js"></script>
<script src="/static/vendors/datepicker/js/locales/bootstrap-datepicker.zh-CN.js"></script>
{% endblock %}
