{% extends "layouts/sidebar.html" %}

{% block head %}
<link href="/static/vendors/datepicker/css/datepicker.css" rel="stylesheet" />
{% endblock %}

{% block title %}{% if cost_rule %}编辑{% else %}创建{% endif %}规则{% endblock %}
{% block subtitle %}{% if cost_rule %}编辑{% else %}创建{% endif %}规则{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<ul class="breadcrumb">
				<li>
					<a href="/steel/rule/">规则列表</a><span class="divider">/</span>
				</li>
				<li class="active">
					{% if cost_rule %}编辑{% else %}创建{% endif %}规则
				</li>
			</ul>
			<div class="widget">
				<div class="widget-title">
                    <h3>{% if cost_rule %}编辑{% else %}创建{% endif %}规则</h3>
				</div>
				<div class="widget-body">
					<form id="edit_form" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <legend>基本信息</legend>
                        <div class="control-group">
                            <label class="control-label" for="id_rule" >规则:</label>
							<div class="controls">
                                {{ form.rule }}
                            </div>
                            {% if form.rule.errors %}
							<div class="alert alert-error" style="margin:10px 180px;width:170px;">
								{% for error in form.rule.errors %}
								<div>{{ error|escape }}</div>
								{% endfor %}
							</div>
							{% endif %}
						</div>
						{% if cost_rule %}
						<div class="control-group">
							<label class="control-label" for="id_date">创建时间:</label>
							<div class="controls">
								<p style="margin-top: 8px">{{ cost_rule.create_time|date:'Y-m-d H:i:s' }}</p>
							</div>
						</div>
                        {% endif %}
                    	<div class="form-actions">
							<button id="submit_btn" type="submit" class="btn btn-primary">
								保存
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block foot %}
<script src="/static/vendors/datepicker/js/bootstrap-datepicker.js"></script>
<script src="/static/vendors/datepicker/js/locales/bootstrap-datepicker.zh-CN.js"></script>
{% endblock %}
