{% extends "layouts/sidebar.html" %}

{% block head %}
<link href="/static/vendors/datepicker/css/datepicker.css" rel="stylesheet" />
{% endblock %}

{% block title %}{% if batch %}编辑{% else %}创建{% endif %}进货订单{% endblock %}
{% block subtitle %}{% if batch %}编辑{% else %}创建{% endif %}进货订单{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<ul class="breadcrumb">
				<li>
					<a href="/batch/">进货列表</a><span class="divider">/</span>
				</li>
				<li class="active">
					{% if batch %}编辑{% else %}创建{% endif %}
				</li>
			</ul>
			<div class="widget">
				<div class="widget-title">
                    <h3>{% if batch %}编辑{% else %}创建{% endif %}进货订单</h3>
				</div>
				<div class="widget-body">
					<form id="edit_form" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <legend>基本信息</legend>
                        <div class="control-group">
                            <label class="control-label" for="id_sid" >钢铁名称:</label>
							<div class="controls">
                                <select id="id_sid" name="sid">
                                    {% for steel in steels %}
                                    <option value="{{ steel.id }}"
                                        {% ifequal steel.id sid %}
                                        selected="selected"
                                        {% endifequal %}
                                        >{{ steel.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>	
                        <div class="control-group">
                            <label class="control-label" for="id_supplier">进货商</label>
							<div class="controls">
                                <select id="id_supplier_id" name="supplier_id">
                                    {% for supplier in suppliers %}
                                    <option value="{{ supplier.id }}"
                                        {% ifequal supplier.id supplier_id %}
                                        selected="selected"
                                        {% endifequal %}
                                        >{{ supplier.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
						</div>

                        <div class="control-group">
                            <label class="control-label" for="id_weight" >吨数:</label>
							<div class="controls">
                                {{ form.weight }}吨
                            </div>
                            {% if form.weight.errors %}
							<div class="alert alert-error" style="margin:10px 180px;width:170px;">
								{% for error in form.weight.errors %}
								<div>{{ error|escape }}</div>
								{% endfor %}
							</div>
							{% endif %}
						</div>
                        <div class="control-group">
                            <label class="control-label" for="id_unit_price" >每吨价格:</label>
							<div class="controls">
                                {{ form.unit_price }}￥
                            </div>
                            {% if form.unit_price.errors %}
							<div class="alert alert-error" style="margin:10px 180px;width:170px;">
								{% for error in form.unit_price.errors %}
								<div>{{ error|escape }}</div>
								{% endfor %}
							</div>
							{% endif %}
						</div>
						{% if batch %}
						<div class="control-group">
							<label class="control-label" for="id_create_time">创建时间:</label>
							<div class="controls">
								<p style="margin-top: 8px">{{ batch.create_time|date:'Y-m-d H:i:s' }}</p>
							</div>
						</div>
                        {% endif %}
                    	<div class="form-actions">
							<button id="submit_btn" type="submit" class="btn btn-primary">
								保存
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block foot %}
<script src="/static/vendors/datepicker/js/bootstrap-datepicker.js"></script>
<script src="/static/vendors/datepicker/js/locales/bootstrap-datepicker.zh-CN.js"></script>
{% endblock %}
