{% extends "layouts/sidebar.html" %}

{% block head %}
<link href="/static/vendors/datepicker/css/datepicker.css" rel="stylesheet" />
{% load humanize %}
{% endblock %}

{% block title %}订单列表{% endblock %}
{% block subtitle %}订单列表{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<ul class="breadcrumb">
				<li class="active">
					<a href="/order/">订单列表</a><span class="divider">/</span>
				</li>
			</ul>
			<div class="widget">
				<div class="widget-title">
					<h3>订单列表</h3>
				</div>
                <div class="widget-body">
                    <div id="filter_div" class="span12" style="min-height:50px;">
                        <form id="id_order_search_form" action="" method="get">
                            <span>订单号:</span>
                            <input type="text" class="input-medium" name="oid" id="id_oid" data-provide="typeahead" autocomplete="off" {% if oid %} value="{{ oid }}" {% endif %}/>
                            <span>钢铁:</span>
                            <select id="id_sid" name="sid" class="input-small">
                                <option value=''>-------</option>
                                {% for steel in steels %}
                                <option value="{{ steel.id }}"
                                    {% ifequal steel.id sid %}
                                    selected="selected"
                                    {% endifequal %}
                                    >{{ steel.id }}-{{ steel.name }}
                                </option>
                                {% endfor %}
                            </select>
                            <span>客户:</span>
                            <input type="text" class="input-small" name="client_name" id="id_client_name" data-provide="typeahead" autocomplete="off" {% if client_name %} value="{{ client_name}}" {% endif %}/>
                            <select id="id_client_id" name="client_id" class="input-small hide">
                                <option value=''>-------</option>
                                {% for client in clients %}
                                <option value="{{ client.id }}"
                                    {% ifequal client.id client_id %}
                                    selected="selected"
                                    {% endifequal %}
                                    >{{ client.id }}-{{ client.name }}
                                </option>
                                {% endfor %}
                            </select>
                            <input id="id_client_list" type="checkbox" {% if client_id %}checked="True"{% endif%}>选
                            <span>日期：</span>
                            <span class="input-append date" id="startDateDp" data-date="{{ from_date|date:'Y-m-d'}}" data-date-format="yyyy-mm-dd">
                                <input class="input-small" size="16" name="from_date" type="text" value="{{ from_date|date:'Y-m-d'}}">
                                <span class="add-on"><i class="icon-th"></i></span>
                            </span>
                            &nbsp;&nbsp;至&nbsp;
                            <span class="input-append date" id="endDateDp" data-date="{{ end_date|date:'Y-m-d'}}" data-date-format="yyyy-mm-dd">
                                <input class="input-small" size="16" type="text" name="end_date" value="{{ end_date|date:'Y-m-d'}}">
                                <span class="add-on"><i class="icon-th"></i></span>
                            </span>
                            <div>
                            <input type="submit" id="id_order_search" value="查询" class="btn btn-primary" />
                            &nbsp;
                            <input type="button" id="id_order_export" value="导出" class="btn" />
                            <input type="hidden" id="id_export" name="export" value="False"/>
                            </div>
							</form>
						</div>

					<table class="table table-striped table-bordered table-advance table-hover">
                            <thead>
                                <tr>
                                    <th>订单号</th>
                                    <th>日期</th>
                                    <th>价格</th>
                                    <th>成本</th>
                                    <th>利润</th>
                                    <th>是否开票</th>
                                    <th>客户</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if order_list and order_list.count > 0 %}
                                    {% for item in order_detail_list %}
                                    <tr {% ifequal id item.order.id %}class="success"{% endifequal %}>
                                    <td>
                                        <a href="javascript:void(0)" data-oid="{{ item.order.oid }}"
                                            class="order-btn"
                            		        data-toggle="popover" 
                            	        	data-placement="right" 
                                            data-content="<p class='muted'>
                                            下单时间：{{ item.order.create_time|date:'Y-m-d H:i:s' }}<br>
                                            </p>" 
                            		        title="{{ item.order.id }}"
                                            data-original-title="预览"
                                            >{{ item.order.oid }}
                                            <br>
                                        </a>
                                    </td>
                                    <td>
                                        {{ item.order.order_day|date:'Y-m-d' }}
                                    </td>
                                    <td style="text-align:right;">
                                        {{ item.order.total_price|floatformat:2|intcomma }}
                                    </td>
                                    <td style="text-align:right;">
                                        {{ item.order.profit|floatformat:2|intcomma }}
                                    </td>
                                    <td style="text-align:right;">
                                        {{ item.profit|floatformat:2|intcomma }}
                                    </td>
                                    <td>
                                        {% if item.order.is_youpiao == 1 %}
                                        有票
                                        {% else %}
                                        无票
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ item.client.name }}
                                    </td>
                                    <td>
                                        {% if item.check_time == 1 %}
                                            <a href="/order/edit/?oid={{ item.order.oid }}">编辑</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="item_{{ item.order.oid }} hide">
                                    <td colspan="9">
                                        <table class="table table-striped table-bordered table-advance table-hover" id="item_{{ item.oid }}">
                                            <thead>
                                                <tr>
                                                    <th>订单号</th>
                                                    <th>钢铁</th>
                                                    <th>单价</th>
                                                    <th>数量</th>
                                                    <th>总价</th>
                                                    <th>成本</th>
                                                    <th>利润</th>
                                                    <th>来源订单</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for order_item in item.detail %}
                                                    <tr>
                                                        <td>{{ order_item.order_item.oid }}</td>
                                                        
                                                        <td>{{ order_item.steel.name }}</td>
                                                        <td style="text-align:right;">{{ order_item.order_item.unit_price|floatformat:2|intcomma }}</td>
                                                        <td style="text-align:right;">{{ order_item.order_item.number|intcomma }}</td>
                                                        <td style="text-align:right;">{{ order_item.order_item.total_price|floatformat:2|intcomma }}</td>
                                                        <td style="text-align:right;">
                                                            {{ order_item.order_item.profit|floatformat:2|intcomma }}
                                                        </td>
                                                        <td style="text-align:right;">
                                                            {{ order_item.income|floatformat:2|intcomma }}
                                                        </td>
                                                        <td> {% for term in order_item.from_oid %}
                                                            {% if term.2 == 1 %}
                                                            <a href="/batch/?oid={{ term.0 }}">{{ term.0 }}</a>
                                                            {% elif term.2 == 2 %}
                                                            <a href="/retail/?oid={{ term.0 }}">{{ term.0 }}</a>
                                                            {% endif %}
                                                            [{{ term.1 }}]
                                                            <br>
                                                            {% endfor %}
                                                        </td>
                                                        <td>
                                                            {% if item.check_time == 1 %}
                                                                <a href="/order/detail/edit/?id={{ order_item.order_item.id }}">编辑</a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="12">
                                    	<div align="center">暂无数据</a></div>
                                    </td>
                                </tr>
                                {% endif %}
                                
                            
                            </tbody>
						</table>
						<div class="pagination" align="right">
	                        <ul>
	                            {% if order_list.has_previous %}
	                            <li>
                                <a href="?&page={{ item_order_list.previous_page_number }}{% if id %}&id={{ id }}{% endif %}{% if oid %}&oid={{ oid }}{% endif %}{% if sid %}&sid={{ sid }}{% endif %}{% if from_date %}&from_date={{ from_date|date:'Y-m-d' }}{% endif %}{% if end_date %}&end_date={{ end_date|date:'Y-m-d' }}{% endif %}{% if client_name %}&client_name={{ client_name }}{% endif %}{% if client_id %}&client_id={{client_id}}{% endif %}">
	                            	上一页 
	                            </a></li>
	                            {% else %}
	                            <li class="disabled"><a href="#">上一页</a></li>
	                            {% endif %}
	                            <li class="disabled"><a href="#">{{ order_list.number }}/{{ order_list.paginator.num_pages }}</a></li>
	                            {% if order_list.has_next %}
                                <li><a href="?&page={{ item_order_list.next_page_number }}{% if id %}&id={{ id }}{% endif %}{% if oid %}&oid={{ oid }}{% endif %}{% if sid %}&sid={{sid}}{% endif %}{% if from_date %}&from_date={{ from_date|date:'Y-m-d' }}{% endif %}{% if end_date %}&end_date={{ end_date|date:'Y-m-d' }}{% endif %}{% if client_name %}&client_name={{ client_name }}{% endif %}{% if client_id %}&client_id={{client_id}}{% endif %}">
                                   下一页
                                </a></li>
                                    {% else %}
	                            <li class="disabled"><a href="#">下一页</a></li>
	                            {% endif %}
	                        </ul>
	                    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block foot %}
<script src="/static/vendors/datepicker/js/bootstrap-datepicker.js"></script>
<script src="/static/vendors/datepicker/js/locales/bootstrap-datepicker.zh-CN.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    initDatepacker();
    initOrderBtn();
    initSearchForm();
    initClientDropList();
    $('#id_client_name').typeahead({
        source: function (query, process) {
            var parameter = {'client_name': query};
            var name_array = new Array();
            $.post('/client/get/', parameter, function (data) {
                if(data['code'] == 1){
                    for(var i=0; i<data['client_list'].length; i++){
                        name_array[i] = data['client_list'][i]['name'];
                    }
                }
                process(name_array);
            });
        }
    });

});

function initOrderBtn(){
    $('.order-btn').click(function(){
        var oid = $(this).attr('data-oid');
        var trs = $('.item_' + oid);
        if(trs.is(":visible")){
            trs.hide();
        }else{
            trs.show();
        }
    })
}

function initDatepacker(){
    $(".date").datepicker({
        'language' : 'zh-CN'
    });
}

$(function () {
        $('.client-content').popover({
            html: true,
            trigger: 'hover',
    });
});


function initClientDropList(){
    if (document.getElementById("id_client_list").checked) {
        $("#id_client_id").removeClass("hide");
        $("#id_client_name").hide();
    }
    $("#id_client_list").click(function(){
        var checked = $(this).is(":checked");
        if (checked) {
            $("#id_client_id").removeClass("hide");
            $("#id_client_name").hide();
        } else {
            $("#id_client_id").addClass("hide");
            $("#id_client_name").show();
        }
    });
    $("#id_client_id").change(function(){
        $("#id_client_name").val("");
    });
    $("#id_client_name").change(function(){
        $("#id_client_id").val("");
    });
}
/***
function load_chn_data(aid) {
    if (aid > 0) {
        var url = "/pay/game/list/load_chn_data/" + aid + "/";
        
        $.getJSON(url, function(json) {
                  var code = Number(json['code']);
                  if (code == 1) {
                  var game_list = json['data'];
                  var data_summary = json['summary'];
                  var s = "";
                  for(var i = 0; i < game_list.length; i ++){
                  s += "<tr class='chn_tr_" + aid + "'>"
                  + "<td>" + game_list[i]['name'] + "<small class='g9'>(" + game_list[i]['chnid'] + ")</small></td>"
                  + "<td>￥" + game_list[i]['money'] + "</td><td>$" + game_list[i]['money_usd'] + "</td>"
                  + "<td>" + game_list[i]['count'] + "</td><td>" + game_list[i]['person'] + "</td>"
                  + "<td>" + game_list[i]['active'] + "</td><td>" + game_list[i]['reg'] + "</td>"
                  + "<td>" + game_list[i]['login'] + "</td><td>" + game_list[i]['login_person'] + "</td>"
                  + "<td>" + game_list[i]['next_day_stay'] + "</td><td>" + game_list[i]['seven_day_stay'] + "</td>"
                  + "<td><a href='/pay/reports/base/" + game_list[i]['aid'] + "/" + game_list[i]['chnid'] + "/'>详情</a>&nbsp;"
                  + "<a href='/pay/game/channel/edit/" + game_list[i]['aid'] + "/" +game_list[i]['chnid'] + "/'>编辑</a>&nbsp;"
                  + "<a href='/pay/channel/user_stat_audit/list/" + game_list[i]['aid'] + "/" + game_list[i]['chnid'] + "/'>外部渠道数据</a></td>"
                  + "</tr>";
                  }
                  s += "<tr style='font-weight: bolder;'>"
                  + "<td>昨日合计:</td>"
                  + "<td>￥"+data_summary[0]['money']+"</td><td>$" + data_summary[0]['money_usd'] + "</td>"
                  + "<td>"+data_summary[0]['count']+"</td><td>" + data_summary[0]['person'] + "</td>"
                  + "<td>"+data_summary[0]['active']+"</td><td>" + data_summary[0]['reg'] + "</td>"
                  + "<td>"+data_summary[0]['login']+"</td><td>" + data_summary[0]['login_person'] + "</td>"
                  + "<td>"+data_summary[0]['next_day_stay']+"</td><td>" + data_summary[0]['seven_day_stay'] + "</td>"
                  + "<td></td></tr>";
                  $("#chn_data_" + aid + ">tbody").empty().append(s);
                  }
                  }).error(function() { alert("check update error"); });
    }
}
***/

function initSearchForm() {
    $('#id_order_search').click(function(){
        $('#id_export').val('false');
        $('#id_order_search_form').submit();
    });
    
    $('#id_order_export').click(function(){
        var flag = confirm("确定要导出吗？");
        if(flag){
            $('#id_export').val('true');
            $('#id_order_search_form').submit();
        }
    });
}
</script>
{% endblock %}
